.carousel-item img{
    height: 350px;
    width: 100%;
    @media (min-width: 992px){
            height: 490px;
    }    
}
#carouselExampleCaptions{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    
}
#carouselExampleFade{
    position: sticky;
}
/*formulario*/
.main-contacto{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    padding: 0 20px;
    font-family: 'Lucida Sans';
    @media(min-width:768px) {

        padding:0 50px;
        margin-top: 30px;
        margin-bottom: 30px;   
        width: 100%;
    }
}
input, textarea{
    outline: none;
    border: 0;
}
.formulario{
    display: grid;
    align-items: center;
    border: solid 2px #999;
    padding: 10px;
    width: 280px;
 @media (min-width: 768px){
    .formulario{
        width: 450px;
    }
 }   
}
.formulario:hover{
    border-color: #E384FF;
  transition: all .5s; 

}
.formulario:focus{
    border-color: #E384FF;
}
.boton{
    display: flex;
    justify-content: center;
    border-radius: 9ex;
    background-color: #865DFF;
    width: 150px;
    margin: 15px;
}

