*{
    margin: 0;
    padding: 0;
    }
    body{
    background-color:#FAF4B7;
    color:rgb(3, 3, 3);
    } 
header{
        display: flex;
        top:0;
        background-color: #f39adc;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        opacity: .9;
        padding: 15px 10px;
    
       
        nav{
          .container-fluid{ 
                background-color: #f39adc;
                text-shadow:0 0 5px #191825;}
                .navbar-nav{
                    background-color:#FAF4B7;
                    @media(min-width:992){
                     background-color: #f39adc;
                    }
                    
                    
                }
         ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            gap: 10px;
           
            .enlaces{
                color: #F0F696;
                text-shadow:0 0 5px #191825;
               
                
                @media(min-width:500px) {
                    flex-direction: row;
                    position: sticky;
                    color: #F0F696;
                    text-shadow:0 0 5px #191825;
                    border-radius: 2px;
                    background-color: #F5B5FC;
                    border: solid;
                    padding: 10px 15px;   
                }
            }
        }
        a{
            text-decoration: none;
        }

@media (min-width:768px){
            flex-direction: row;
            position: sticky;
    }
}}

       
    
.logo{
        width: 70px;  
    } 


 
@media (min-width:500px){
    .banner{
            background-image: url(/img/foto-portada.webp
            );
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 500px;
            width: 100%;
    }  }
  a:hover{
    background-color: #f39adc;
    transition: all .5s;
 }
 a:active{
    background-color: #eef775;
 }
    .inicio{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-wrap: wrap;
        img{
            max-width: 100%;  
            height: 320px;
         }

        }
 h1{   
 padding: 20px 30px;
 font-family: Yellowtail;
 text-align: center;
 color:black;
 font-size: 80px;
}
.text-center{
    font-size: 50px;
}
 h2, h3, h4{
    text-align: center;
    margin: 20px 0;
    padding: 20px 10px;
    color:black;
    text-shadow:0 0 2px #865DFF;
    font-family:Libre Baskerville ;  
}
p{
    font-family:verdana;
    color:#191825;
    font-size: 20px;
}
.video{
    display: grid;
    align-content: space-around;
    margin-bottom: 20px;
    justify-items: center;
    width: 100%;
    @media (min-width:768px){
        justify-items: center;
    }    
}
.padre-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @media(min-width:768px){
            display: grid;
            justify-items: center;
            align-items: flex-start;
            grid-template-columns: repeat(2, 1fr);
        } 
    @media(min-width:992px){
        align-items: flex-start;
                grid-template-columns: repeat(4,1fr);
            }           
        }
.card-inicio{
    height: 450px;
    background-color:#F0F696;
}
.card-img-top{
    height: 250px;
}
.titulo-dos{
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
 }
 
 
 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
 
   
    
    